<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--  第一步引入 vue.js -->
    <script src="js/vue.js"></script>

</head>
<body>

<div id="app">

    <input type="button" value="点击" @click="show" >
    <!--        transition 包裹 被动画控制的元素 ，这个元素是官方提供的-->
    <transition >
        <h1 v-if="flag">{{msg}}</h1>
    </transition>

    <input type="button" value="点击自定义的前缀" @click="flag1=!flag1">
    <!--        transition 包裹 被动画控制的元素 ，这个元素是官方提供的-->
    <transition name="slide-fade">
        <h1 v-if="flag1">{{msg}}</h1>
    </transition>

</div>


<!--  第二步 -->
<!-- 创建Vue的 实例  -->

<script>

    // vm 表示的是 VM
    var vm = new Vue({
        el: "#app", // 表示当前 我们 new 的 这个Vue 实例需要控制那个 部分，#app 表示 控制  <div id="app"> 下面所有内容
        data: { // data 属性中，存放的是 el 中需要用到是 数据
            flag: true,
            flag1:true,
            msg: "大家伙"
        },
        methods: {
            show() {
                this.flag = !this.flag
            }
        }

    });

    // Vue 中的data 属性表示的就是 Model

</script>

</body>
</html>